===============================Login.html=======================
{% extends "header.html" %}
{% block body %}
<body>
	<div class="container">
		<br>
		<h4>Please Login:</h4>
		<br>
		<form action="" class="form-inline" method="POST">
			<input type="text" class="form-control" placeholder = "Username" name="username" value="{{request.form.username}}">
			<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        <p>{{error}}</p> 
	</div>
</body>
{% endblock %}


=========================== header.html ========================

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Dental Business Management</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<header>
<!-- Image and text -->
<!-- navbar start -->
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
		Order & Supply Management System
		</a>
	
	<ul class="nav navbar-nav navbar-right">
		
		<div style="margin-right: 10px; margin-left: 20px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
		<h5>
			<!-- Support code(Extra) -->
			<a href="https://www.google.com/"> Support </a>
			<!-- Log in code -->
			<a role="presentation" data-toggle="modal" data-target="#exampleModal" href="#">Login</a>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Login</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<form action="" class="form-inline" method="post">
										<input type="text" class="form-control" placeholder="Username" name="username" value="">
										<input type="password" class="form-control" placeholder="Password" name="password" value="">
										<br>
										</br>
										<input class="btn btn-primary" type="submit" value="Login">
									</form>
									
									<div class="container">
										<br>
										<p>No account? <a href='/register'> Register here</a>.</p>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Sign out code -->
			<a role="presentation"  data-toggle="modal" data-target="#register" href="#"> Sign up</a><h5>
				<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="exampleModalLabel">Register</h4>	
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							</div>
							<div class="modal-body">
								<div class="container">
									<form method=post action="/register">
										<dl>
												<dt><label for="username">Username</label>
												<dd><input id="username" name="username" type="text" value=""></dd>

												<dt><label for="email">Email Address</label>
												<dd><input id="email" name="email" type="text" value=""></dd>


												<dt><label for="password">New Password</label>
												<dd><input id="password" name="password" type="password" value=""></dd>

												<dt><label for="confirm">Repeat Password</label>
												<dd><input id="confirm" name="confirm" type="password" value=""></dd>


												<dt><label for="accept_tos">I accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a> (updated Jan 22, 2015)</label>
												<dd><input id="accept_tos" name="accept_tos" type="checkbox" value="y"></dd>
										</dl>
										<p><input type=submit value=Register>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</ul>
</nav>
	
</header>

<body>

    <div class="container-fluid" style="min-height: 100% width: 80%">
    
        {% block body %}  {% endblock %}
    
    </div>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>	  





================= Main.html===============
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Dental Business Management</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<header>
<!-- Image and text -->
<!-- navbar start -->
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
		Order & Supply Management System
		</a>
	
	<ul class="nav navbar-nav navbar-right">
		
		<div style="margin-right: 10px; margin-left: 20px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
		<h5>
			<!-- Support code(Extra) -->
			<a href="https://www.google.com/"> Support </a>
			<!-- Log in code -->
			<a role="presentation" data-toggle="modal" data-target="#exampleModal" href="#">Login</a>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Login</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<form action="" class="form-inline" method="post">
										<input type="text" class="form-control" placeholder="Username" name="username" value="">
										<input type="password" class="form-control" placeholder="Password" name="password" value="">
										<br>
										</br>
										<input class="btn btn-primary" type="submit" value="Login">
									</form>
									
									<div class="container">
										<br>
										<p>No account? <a href='/register'> Register here</a>.</p>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Sign out code -->
			<a role="presentation"  data-toggle="modal" data-target="#register" href="#"> Sign up</a><h5>
				<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="exampleModalLabel">Register</h4>	
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							</div>
							<div class="modal-body">
								<div class="container">
									<form method=post action="/register">
										<dl>
												<dt><label for="username">Username</label>
												<dd><input id="username" name="username" type="text" value=""></dd>

												<dt><label for="email">Email Address</label>
												<dd><input id="email" name="email" type="text" value=""></dd>


												<dt><label for="password">New Password</label>
												<dd><input id="password" name="password" type="password" value=""></dd>

												<dt><label for="confirm">Repeat Password</label>
												<dd><input id="confirm" name="confirm" type="password" value=""></dd>


												<dt><label for="accept_tos">I accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a> (updated Jan 22, 2015)</label>
												<dd><input id="accept_tos" name="accept_tos" type="checkbox" value="y"></dd>
										</dl>
										<p><input type=submit value=Register>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</ul>
</nav>
<!-- navbar end -->


<!-- Navbar for tabs -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://www.fullerton.edu/">Link</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            What is it about?
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Dental Clinic</a>
            <a class="dropdown-item" href="#">Dental Lab</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Manufacturer</a>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
        </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	</div> -->

</nav>

<!-- Jumbotron- info on Homepage -->
<div class="jumbotron">
	<h1>Welcome to our management System</h1>
	<p>...</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

</header>

<!-- Home start -->
<section id="" style="display: block;" class="img_text_table">
	<div class="wrap">
			<article class="container-table">
			<div class="col c-50 bg-wrap" >
				<h3>Dental Inventory Management Simplified</h3>
				<div class="bg" style="background: url('https://d1yyqq1vek2gx8.cloudfront.net/wp-content/uploads/2019/06/Responsive-devices.png');"></div>
			</div>
			<div class="col c-50 text">
				<h3>Dental Inventory Management Simplified</h3>
				<p>
					<p>Sortly is a visual dental inventory tracking system that allows you to track all your dental practice related supplies and any of their details—for a more intuitive (and less maddening) way to keep track your inventory across multiple locations.</p>
					<ul>
						<li><span style="font-weight: 400;">Completely customizable system</span></li>
						<li>Standalone app for tablet and mobile</li>
						<li>Set quantity or date based alerts</li>
						<li><span style="font-weight: 400;">Track inventory</span><span style="font-weight: 400;"> across multiple locations</span></li>
					</ul>
				</p>
			</div>
		<style>
			.cta3{
				background: #0096bc !important;
				border-color: #0096bc !important;
			}
			.cta3:hover{
				background: #23b2dd !important;
				border-color: #23b2dd !important;
			}
		</style>
		<div class="text-center">
			<a href="https://pro.sortly.com/registration" class="btn center cta3 " target="_blank">Get Started</a>
		</div>
		<div class="hr"></div>
	</div>
</section>
<!-- Home end -->
<!-- -->
<a href="/dashboard/">
	<video autoplay="autoplay" muted="muted" poster="/static/videos/python-programming-tutorials-main.png" style="width:100%; max-height:80%" >
	</video>
	</a>


<body>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
==========================================

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dental Business Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<header>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
    <img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
    Welcome to Order & Supply Management System
    </a>
</nav>
</header>

<body>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>




<!-- Navbar -->
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>
-->


<!-- Navbar-right video 5-->
<!--
<ul class="nav navbar-nav navbar-right">
    <li><a href="#">Link</a></li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
    </li>
</ul>
-->

</html>


<!--------------------->
<header>
	<!-- Image and text -->
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
		<img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
		Welcome to Order & Supply Management System
		</a>


		<ul class="nav navbar-nav navbar-right">

			<div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
				<h5>

				<a href="/support-donate/"> <span class="glyphicon glyphicon-heart"></span> Support   </a>

				<a role="presentation" data-toggle="modal" data-target="#exampleModal" href="#"><span class="glyphicon glyphicon-log-in"></span> Login   </a>

				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								<h4 class="modal-title" id="exampleModalLabel">Login</h4>
							</div>

							<div class="modal-body">
								<div class="container-fluid">
									<form action="" class="form-inline" method="post">
										<input type="text" class="form-control" placeholder="Username" name="username" value="">
										<input type="password" class="form-control" placeholder="Password" name="password" value="">
										<input class="btn btn-primary" type="submit" value="Login">
									</form>

									<div class="container">
										<br>
										<p>No account? <a href='/register'>Register here</a>.</p>
										<br>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

				<a role="presentation" class="active" data-toggle="modal" data-target="#register" href="#"><span class="glyphicon glyphicon-pencil"></span> Sign up</a><h5>
				<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
							<h4 class="modal-title" id="exampleModalLabel">Register</h4>
						</div>
					<div class="modal-body">
						<div class="container">

							<form method=post action="/register">
								<dl>
									<dt><label for="username">Username</label>
										<dd>
											<input id="username" name="username" type="text" value="">
										</dd>

									<dt><label for="email">Email Address</label>
										<dd>
											<input id="email" name="email" type="text" value="">
										</dd>

									<dt><label for="password">New Password</label>
										<dd>
											<input id="password" name="password" type="password" value="">
										</dd>

									<dt><label for="confirm">Repeat Password</label>
										<dd>
											<input id="confirm" name="confirm" type="password" value="">
										</dd>

									<dt><label for="accept_tos">I accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a> (updated Jan 22, 2015)</label>
										<dd>
											<input id="accept_tos" name="accept_tos" type="checkbox" value="y">
										</dd>
								</dl>
								<p><input type=submit value=Register>
							</form>

						</div>
					</div>

				</div>
			</div>
		</ul>
	</nav>

</header>
<!-- Home start -->
<section id="" style="display: block;" class="img_text_table">
	<div class="wrap">
			<article class="container-table">
			<div class="col c-50 bg-wrap" >
				<h3>Dental Inventory Management Simplified</h3>
				<div class="bg" style="background: url('https://d1yyqq1vek2gx8.cloudfront.net/wp-content/uploads/2019/06/Responsive-devices.png');"></div>
			</div>
			<div class="col c-50 text">
				<h3>Dental Inventory Management Simplified</h3>
				<p>
					<p>Sortly is a visual dental inventory tracking system that allows you to track all your dental practice related supplies and any of their details—for a more intuitive (and less maddening) way to keep track your inventory across multiple locations.</p>
					<ul>
						<li><span style="font-weight: 400;">Completely customizable system</span></li>
						<li>Standalone app for tablet and mobile</li>
						<li>Set quantity or date based alerts</li>
						<li><span style="font-weight: 400;">Track inventory</span><span style="font-weight: 400;"> across multiple locations</span></li>
					</ul>
				</p>
			</div>
		</article>
				<article class="container-table">
			<div class="col c-50 bg-wrap" >
				<h3>Less time managing or tracking your dental inventory. More time with patients.</h3>
				<div class="bg" style="background: url('https://d1yyqq1vek2gx8.cloudfront.net/wp-content/uploads/2019/06/Devices-1.png');"></div>
			</div>
			<div class="col c-50 text">
				<h3>Less time managing or tracking your dental inventory. More time with patients.</h3>
				<p>
					<p>We know inventory tracking is high on the list of <strong>Least Fun Activities</strong>, so our dental inventory control system features was designed to get and your team in, out, and on with their day. Easily scan item with our super simple mobile app to easily make a change or update inventory.</p>
					<ul>
						<li>Create or connect QR labels and barcodes</li>
						<li>Scan and update hospital inventory using built-in scanner</li>
						<li>Track user activity</li>
						<li>Generate inventory reports</li>
					</ul>
				</p>
			</div>
			<!-- <div class="col c-50 bg-wrap hidden-tb" style="background: url('https://d1yyqq1vek2gx8.cloudfront.net/wp-content/uploads/2019/06/Devices-1.png');">
			<div class="bg"></div>
			</div> -->
		</article>
				<article class="container-table">
			<div class="col c-50 bg-wrap" >
			<h3>Get your inventory up and running in minutes</h3>
			<div class="bg" style="background: url('https://d1yyqq1vek2gx8.cloudfront.net/wp-content/uploads/2019/07/Hospital-inventory-management-system.png');"></div>
			</div>
			<div class="col c-50 text">
			<h3>Get your inventory up and running in minutes</h3>
			<p>
				<p>Welcome to 2019. You shouldn’t need lengthy sales visits or a 100-page guide to figure out your dental inventory software. Sortly is intuitive and you can have everything up and running in minutes, all on your own. We’ve deliberately designed it so you never have to call us (although if you do, we’re more than happy to help).</p>
				<ul>
					<li>Give your team instant access</li>
					<li>Bulk add inventory via CSV</li>
					<li>Export, and share CSV and PDF files.</li>
					<li>Auto backed up and synced on the cloud</li>
				</ul>
			</p>
			</div>
		</article>
			
	
		<style>
			.cta3{
				background: #0096bc !important;
				border-color: #0096bc !important;
			}
			.cta3:hover{
				background: #23b2dd !important;
				border-color: #23b2dd !important;
			}
		</style>
		<div class="text-center">
			<a href="https://pro.sortly.com/registration" class="btn center cta3 " target="_blank">Get Started</a>
		</div>
		<div class="hr"></div>
	</div>
</section>


  <!-- Home end -->
<body>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
===================================== Manufacturer.html 12 April 2020===========================
{% extends "header.html" %}

{% block body %}


<div role="tabpanel">

<!-- Nav tabs -->
<!-- <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics&nbsp;&nbsp;&nbsp;</a></li>
    <li role="presentation"><a href="#wdev" aria-controls="wdev" role="tab" data-toggle="tab">Web Dev&nbsp;&nbsp;&nbsp;</a></li>
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Data Analysis&nbsp;&nbsp;&nbsp;</a></li>
</ul> -->

<!-- Tab panes -->
<!-- <div class="tab-content">
<div role="tabpanel" class="tab-pane fade in active" id="basics">
    <ul>
    {% for t in TOPIC_DICT["Basics"] %}
        <li><a href="{{t[1]}}">{{t[0]}}</a></li>
    {% endfor %}
    </ul>
</div>


<div role="tabpanel" class="tab-pane fade" id="wdev">web dev</div>


<div role="tabpanel" class="tab-pane fade" id="dan">Data analysis!#Q$@!#</div>

</div> -->

<!-- ---------------------- 4 April 2020------------------- -->
<!-- <body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Add Product</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Show available products</a>
        </li>
      </ul>

    <h4>Welcome to Manufacturer</h4>
</body> -->
<!-- -------------------------- 4 April 2020 End---------------- -->
<body>
    <!-- <a role="presentation"  data-toggle="modal" data-target="#register" href="/add_product/"> Add Products&nbsp;&nbsp;&nbsp;</a><h5>
        <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Add product</h4>	
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form method=post action="/register">
                                <dl>
                                        <dt><label for="username">Username</label>
                                        <dd><input id="username" name="username" type="text" value=""></dd>

                                        <dt><label for="pname">Name of Product</label>
                                        <dd><input id="pname" name="pname" type="text" value=""></dd>


                                        <dt><label for="pprice">Price</label>
                                        <dd><input id="pprice" name="pprice" type="number" value=""></dd>

                                </dl>
                                <p><input type=submit value="Add">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
 -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <!-- <a class="nav-link active" href="/add/">Add Product</a> -->
            <a class="nav-link active" href="/addproduct/">Add Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Show available products</a>
        </li>
    </ul>

<h4>Welcome to Manufacturer</h4>
</body>
</div> 

{% endblock %}

