{% extends "header.html" %}

{% block body %}
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/clinic">Clinic - Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">All sellers</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sellers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for product in products %}
                <a class="dropdown-item" href="#">{{product[2]}}</a>
                {% endfor %}
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{{url_for('getCart')}}" tabindex="-1">Cart ({{session['Shoppingcart']|length}})</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<div class="container mt-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-6" id=product[0]>

        </div>
        <div class="col-md-6" id=product[0]>
            <h4>Product Name: {{product[1]}}</h4>
            <hr>
            <p>Product Price: ${{product[3]}}</p>

            {% if product[4]>0 %}
            <p>Product Discount: {{product[4]}}%</p>
            {% endif %}
            <hr>
            {% if product[5]>0 %}
            <p>Product Availability: Yes</p>
            {% elif product[5]==0 %}
            <p>Product Availability: No</p>
            {% endif %}

            <p>Product Seller: {{product[2]}}</p>
            <hr>
            <b>Product Discription</b>
            <p>{{product[6]}}</p>
            <hr>
            <form action="{{url_for('AddCart')}}" method="post">
                <input type="hidden" name="product_id" value="{{product[0]}}">
                <button type="submit" class="btn btn-sm btn-warning">Add cart</button>
                <label for="">Quantity:</label>
                <input type="number" name="quantity" id="" value="1" min="1" max="{{product[5]}}">
            </form>

        </div>
        <div class="col-md-6"></div>
        {% endfor %}
    </div>
</div>

{% endblock %}