{% extends "header.html" %}

{% block body %}

<body>
	<div class = "container">
	
		<h2 class="text-center">Register</h2>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/register/">
			<div>
				{{render_field(form.username, class="form-control", placeholder = "Enter your username")}}
				{{render_field(form.email, class="form-control", placeholder = "Enter your email id")}}
				{{render_field(form.password, class="form-control", placeholder = "Enter new password")}}
				{{render_field(form.confirm, class="form-control", placeholder = "Repeat your password")}}
				{{render_field(form.role_id)}}
			  	{{render_field(form.accept_tos)}}
			</div>
			<p><input type=submit value=Register class="btn btn-info"></p>
		</form>
		
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>

{% endblock %}